h1{
		font-family: "PT Sans Caption", sans-serif !important;
		font-weight: bold;
		letter-spacing: 5px;
}
h2{
		font-family: "PT Sans Caption" , sans-serif !important;
}
h3{
		line-height: 175%;
		font-family: "PT Sans Caption" , sans-serif !important;
}
h4{
		font-family: "PT Sans Caption" , sans-serif !important;
}
body{
      	position: relative;  	
}
section{
		float: left;
		font-family: "PT Sans Caption", sans-serif !important;
}
nav{
    	background-color: #FFFFFF;
}
p{
		line-height: 200%;
		font-family: "PT Sans Caption", sans-serif !important;
}
h3{
		line-height: 175%;
		font-family: "PT Sans Caption", sans-serif !important;
}
td{
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 15px;
		text-align: justify;
		font-family: "PT Sans Caption" , sans-serif !important;
}
footer{
	    position:absolute;
    	bottom:0;
    	width:100%;/*
    	height: auto !important;
*/    	height: 50px;
    	background-color: #171737;
    	color: #fff;
}
/*ul {
  padding:0 0 0 0;
  margin:0 0 0 0;
}
ul li {
  list-style:none;
  margin-bottom:25px;
}
ul li img {
  cursor: pointer;
}*/
ul#menu li{
		display:inline;
		padding-right: 35px;
}
ul#menu2 li{
		display:inline;
		padding-right: 23px;
		font-family: "PT Sans Caption" !important;
}
.start-in-your-country{
		letter-spacing: -1px;

}
.btn{
		border-radius: 0px !important;
		color: #ed8437; background: none;
		outline-color: #ed8437;
		width: 20%;
		height: 45px;
}
.how-to-register{
		margin-left: 20px;
		margin-right: 40px;
		font-size: 90%;
}
.eligibility{
		margin-left: 20px;
		margin-right: 60px;
		font-size: 90%;
}
.margin-modal{
		margin-left: 40px;
		margin-right: 90px;
}
.modal {
		width: 100%;
}
.modal-content  {
	    -webkit-border-radius: 0px !important;
	    -moz-border-radius: 0px !important;
	    border-radius: 0px !important; 
}
.modal-organizers{
		padding-top: 20px;
}
.modal-body-scrollable {
	    max-height: calc(100vh - 100px);
	    overflow-y: auto;
}
.img-partners{
		width:10%;
		height:30%;
}
.img-modal-partners{
		width:15%;
		height:10%;
}
.img-modal-timeline{
		width:60%;
		height:40%;
}
.img-modal-schedule{
		width:60%;
		height:60%;
}
.modal-partners{
		padding-top: 20px;
}
.to-left-nav{
		padding-right: 100px;
		padding-left: 40px;
		font-family: "PT Sans Caption", sans-serif !important;
		letter-spacing: 2px;
}
.to-left{
		padding-right: 75px;
}
.social-padding{
		padding-right: 50px;
}
.bgorange{
		background: orange;
		height: 100%;
}
.black-font{
		color: #000;
}
.bgwhite{
		background: #fff;
		color: #ed8437;
		height: 100%;
}
.hal{
		width: 50%;
}
.gallery-margin{
		margin-top: 15px;
}
.font-orange{
		color:#ed8437;
}
.footer-to-left{
		margin-left: 35px;
}
.footer-to-right{
		margin-right: 35px;
}
.font-white{
		color:#fff;
		font-weight: bold;
}
.flags{
		margin-left: 15px;
}
.flag-name{
		padding-left: 25px;
}
#section1 {
		padding-top:50px;
		height:100%;
		color: #fff; 
		background-image: url('../images/slider_img.png');
		background-size: 100%
	}
#section2 {
		padding-top:20px;
		height:50%;
		color:#ed8437;
		background-image: url('../images/background_pattern.png');
	}
#section3 {
	  	margin: auto;
	  	height:50%;
	  	color: #fff; 
/*	  	background-color: #ff9800;*/
	  }
#section4 {
	  	padding-top:30px;
	  	height:40%;
	  	color: #fff; 
	  	background-color: #171737;
	  }
#section5 {
	  	padding-top:30px;
	  	height:40%;
	  	color: #fff; 
		background-image: url('../images/background_pattern.png');
	  }
#section6 {
	  	padding-top:30px;
	  	height:60%;
	  	color: #fff; 
	  	background-color: #fff;
	  }
#section7 {
	  	padding-top:50px;
	  	height:100%;
	  	color: #fff; 
		background-image: url('../images/background_pattern.png');
	  }
#section8 {
	  	padding-top:30px;
	  	height:90%;
	  	color: #fff; 
	  	background-color: #fff;
	  }