/*@import 'https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700|PT+Sans:400,700&subset=latin-ext';*/
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|PT+Sans+Caption:400,700|PT+Sans:400,700&subset=latin-ext';

h1, h2, h3, h4, h5, h6 {
    font-family: "PT Sans Caption", sans-serif !important;
}

h3 {
    line-height: 175%;
}

body {
    /*position: relative;*/
    /*bootstrap fixed header fixes*/
    margin-top: 50px !important;
    /*overflow-x: hidden;*/
}

section {
    /*float: left;*/
    /*font-family: "PT Sans Caption", sans-serif !important;*/
    font-family: "Open Sans", sans-serif !important;
    padding: 40px !important;
}

nav {
    background-color: #FFFFFF;
}

button, .btn {
	letter-spacing: 1px;
}

p {
    line-height: 200%;
    font-family: "PT Sans Caption", sans-serif !important;
}

p,
span.normal {
    font-weight: normal;
}

p.thick,
span.thick {
    font-weight: bold;
}

p.thicker,
span.thicker {
    font-weight: 900;
}

p.mcap_year,
span.mcap_year {
    font-weight: bolder !important;
    letter-spacing: 4px;
    font-size: 60px;
    margin: -30px;
    margin-bottom: -40px;
}

h3 {
    line-height: 175%;
    font-family: "PT Sans Caption", sans-serif !important;
}

td {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    text-align: justify;
    font-family: "PT Sans Caption", sans-serif !important;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /*
            height: auto !important;
    */
    height: 50px;
    background-color: #171737;
    color: #fff;
}

ul#menu li {
    display: inline;
    /*padding-right: 35px;*/
}

ul#menu2 li {
    display: inline;
    /*padding-right: 23px;*/
    font-family: "PT Sans Caption" !important;
}

.section-head-text,
.start-in-your-country {
    letter-spacing: 1px;
    font-size: 2em;
}

.btn {
    border-radius: 0px !important;
    color: #ed8437;
    background: none;
    outline-color: #ed8437;
    height: 45px;
}

.how-to-register {
    margin-left: 20px;
    margin-right: 40px;
    font-size: 90%;
}

.eligibility {
    margin-left: 20px;
    margin-right: 60px;
    font-size: 90%;
}

.margin-modal {
    margin-left: 40px;
    margin-right: 90px;
}

.modal {
    width: 100%;
}

.modal-content {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.modal-organizers {
    padding-top: 20px;
}

.modal-body-scrollable {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

.img-partners {
    width: 10%;
    height: 30%;
}

.img-modal-partners {
    width: 15%;
    height: 10%;
}

.img-modal-timeline {
    width: 60%;
    height: 40%;
}

.img-modal-schedule {
    width: 60%;
    height: 60%;
}

.modal-partners {
    padding-top: 20px;
}

.to-left-nav {
    padding-right: 100px;
    padding-left: 40px;
    font-family: "PT Sans Caption", sans-serif !important;
    letter-spacing: 2px;
}

.to-left {
    padding-right: 75px;
}

.social-padding {
    padding-right: 50px;
}

.bgorange {
    background: orange;
    /*height: 100%;*/
}

.black-font {
    color: #000;
}

.bgwhite {
    background: #fff;
    color: #ed8437;
}

.hal {
    width: 50%;
}

.gallery-margin {
    margin-top: 15px;
}

.font-orange {
    color: #ed8437;
}

.font-white {
    color: #fff;
    font-weight: bold;
}

.flags {
    margin-left: 15px;
}

.flag-name {
    padding-left: 25px;
}

/*navbar fixes*/

.navbar {
    margin-bottom: 0 !important;
}

/*quick apply btn fix*/
div.navbar-right > a,
div.navbar-right > button {
	margin: 0 auto;
}
div.navbar-right {
	margin-right: 0px !important;
}
/*while for left*/
div.navbar-left {
	margin-left: 20px !important;
}
@media (max-width: 768px) {
	div.navbar-left {
		margin-left: -10px !important;
	}
}
/*navbar custom properties*/
.navbar-custom {
    background: #fff !important;
    margin-bottom: -5px !important;
}

/*end of navbar fixes */

#section1 {
    color: #fff;
    /*background: url('../images/slider_img.png') no-repeat center 100% scroll;*/
    background: url('../images/slider_img.png') center;
    padding-top: 40px;
    padding-bottom: 40px;
}

	#section1 > div > .foot-text {
        max-width: 740px !important;
        margin: 0 auto;
    }

#section2 {
    color: #ed8437;
    background-image: url('../images/background_pattern.png');
}

#section3 {
    margin: 0 auto;
    color: #fff;
    padding: 0px !important;
}

#section3 > .row > div {
    padding: 20 50px;
}

#section4 {
    color: #fff;
    background-color: #171737;
}

	#section4 > div > div > table {
	    margin: 0 auto;
	}

#section5 {
    color: #fff;
    background-image: url('../images/background_pattern.png');
}

#section6 {
    color: #fff;
    background-color: #fff;
}

#section7 {
    color: #fff;
    background-image: url('../images/background_pattern.png');
}

#section8 {
    color: #fff;
    background-color: #fff;
}

/* SECTION MEDIA FIXES */
@media (min-width: 768px) and (min-height: 900px) {
    #section1 > div {
        height: 10%;
        padding-top: 100px;
    }
}

/* SECTION MEDIA FIXES */
@media (min-width: 768px) {
    #section1 > div {
        height: 100%;
        padding-top: 50px;
    }
    #section1 > .mcap_year {
        /*color: #fff !important;*/
        font-size: 50px;
    }
    #section1 > .li-platforms {
        font-size: 15px;
    }
    #section2 > div.container {
        max-width: 970px;
    }
    #section2 > div.container > p.message {
        max-width: inherit;
    }
}

/*@media (min-width: 520px) and (max-width: 768px) {
    #section1 {
        max-height: inherit;
    }
    #section1 > .li-platforms {
        font-size: 13px;
    }
}*/

@media (max-width: 519px) {
    #section1 {
        max-height: inherit;
    }
    #section1 > .mcap_year {
        /*color: #fff !important;*/
        font-size: 20px !important;
    }
    #section1 > .li-platforms {
        font-size: 13px;
    }
}

.navbar-custom-footer {
	margin: 0 auto;
    /*margin-bottom: 0 !important;*/
    background: #171737;
    color: #fff;
}

/*navbar logo/brand fix*/
.navbar-brand {

}

/*reset by custom class*/
h1.custom {
    margin-top: 0px;
}

/*list/checklist fix*/
ul.ul-w-line li {
    line-height: 30px;
}

/*gallery fixes*/
ul.gallery {
  padding:0 0 0 0;
  margin:0 0 0 0;
}

ul.gallery li {
  list-style:none;
  margin-bottom:25px;
}

ul.gallery li img {
  cursor: pointer;
}

div.gallery-wrapper {
	max-width: 990px;
}

/*add shadow on embed*/
.embed-responsive {
	-webkit-box-shadow: -1px 10px 25px -3px rgba(0,0,0,0.35);
	-moz-box-shadow: -1px 10px 25px -3px rgba(0,0,0,0.35);
	box-shadow: -1px 10px 25px -3px rgba(0,0,0,0.35);
}
/*width fix*/
.embed-responsive {
	max-width: 990px;
	margin: 0 auto;
}

.li-platforms {
	font-weight: lighter; /*wont work*/
}

